.education-background {
  display: flex;
}

.list-background {
  margin-top: 50px;
  width: 50%;
}

.list-item {
  display: flex;
  width: 50%;
  height: 120px;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.list-item:hover {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  background-color: #ffeade;
}

.list-ball {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #ffeade;
  text-align: center;
}

.education-info {
  text-align: center;
  padding: 24px;
  font-size: 16px;
}

.education-info h1, h4,
p {
  margin: 0;
  text-align: center;
  padding: 10px;
}
.education-info p {
  margin: 0;
  text-align: left;
  padding: 10px;
}

.educationhighlight-background {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: calc(100%);
  background: #fff8de;
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  justify-content: center;
  align-items: center;
  margin: 32px;
  padding: 10px;
}

.educationhighlight-background h1,
h4,
p {
  margin: 8px;
}
