.media-background {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 190px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: black;
  padding: 14px 0;
  margin-bottom: 10px;
  font-size: 15px;
}

.media-background:hover {
  transform: translateX(8px);
  color: #12214b;
  background-image: linear-gradient(to right, white, #eef4f9);
}

.media-image {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: left;
  align-items: center;
  vertical-align: middle;
}

.media-info {
  flex: 2;
  padding: 16px;
}
