.performance-background {
  display: flex;
}

.media-background {
  margin-top: 20px;
  width: 50%;
}

.media-item {
  display: flex;
  width: 50%;
  height: 120px;
  font-size: 10px;
  color: #2A6872;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 20px;
}

.media-item:hover {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  background-color: #d3e6e9;
}

.media-ball {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #d3e6e9;
  text-align: center;
}

.performance-info {
  text-align: center;
  padding: 24px;
  font-size: 16px;
}

.performance-info h1, h4,
p {
  margin: 0;
  text-align: center;
  padding: 10px;
}
.education-info p {
  margin: 0;
  text-align: left;
  padding: 10px;
}

.pianohighlight-background {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: calc(100%);
  background: #eeeeee;
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  justify-content: center;
  align-items: center;
  margin: 32px;
  padding: 10px;
}

.pianohighlight-background h1,
h4,
p {
  margin: 8px;
}
